html {
  background-color: #393e46;
  height: 100%;
  text-align: center;
  width: 100%;
}

/* League button styles */
.leagues {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.5rem;
  justify-content: center;
}

/* Match times styles */
.timeList {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;

  margin-top: 1rem;
  margin-bottom: 3rem;
}

.timeButton {
  background-color: #393e46;
  border: none;
  color: #eee;
  padding: 5px 10px;
}

.timeButton:active {
  background-color: #222831;
}

.timeButton:hover {
  background-color: #222831;
  border-radius: 3px;
  outline: 2px solid #eee;
  cursor: pointer;
}

/* General grid items styles */
.gridItem {
  text-align: left;
}

/* Time div */
.item1 {
  grid-area: A;
  position: relative;
  text-align: center;
}

.time {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(0, -50%);
}

/* Home team name div */
.item2 {
  grid-area: B;
}

/* Home team score div */
.item3 {
  grid-area: C;
  text-align: center;
}

/* Away team name div */
.item4 {
  grid-area: D;
}

/* Away team score div */
.item5 {
  grid-area: E;
  text-align: center;
}

.gridContainer {
  color: #fff;
  margin: 1rem auto 0;
  width: 65%;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    "A B C"
    "A D E";
  grid-auto-flow: row;
}
