html {
  background-color: #393e46;
  height: 100%;
  text-align: center;
  width: 100%;
}

/* League button styles */
.leagues {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.5rem;
  justify-content: center;
}

/* Match times styles */
.timeList {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;

  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.timeButton {
  background-color: #393e46;
  border: none;
  color: #eee;
  padding: 5px 10px;
  width: max-content;
}

.timeButton:active {
  transform: scale(0.9);
}

.timeButton:hover {
  background-color: #222831;
  outline: 2px solid #eee;
  cursor: pointer;
}

.timeButton:focus {
  background-color: #00adb5;
  outline: none;
}

.liveButton {
  animation: blink 1s infinite;
  font-weight: 500;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}

@media (max-width: 500px) {
  .leagues {
    flex-direction: column;
  }

  .timeList {
    gap: 0.3rem;

    margin: 1rem auto 3rem;
    width: 50%;
  }

  /* .gridContainer {
    gap: 5px;
    grid-template-columns: 1.5fr 3fr 0.7fr;
    width: 90%;
  } */
}
