.title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 3rem;
  text-align: center;
}

.main {
  margin: 0 auto;
  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.leagues {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: left;
}
